NODE_ENV=development

APP_WEB_URI=http://localhost:3000

# Authentication
APP_SECRET=secret

# Database
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=docker
POSTGRES_DATABASE=

# Database for tests
POSTGRES_TEST_HOST=localhost
POSTGRES_TEST_USER=postgres
POSTGRES_TEST_PASSWORD=docker
POSTGRES_TEST_DATABASE=

# Mail provider
MAIL_DRIVER=mailtrap
